@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}
@keyframes runLoop {
  0% { left: -10%; transform: scaleX(1); }  /* Start from left */
  50% { left: 110%; transform: scaleX(1); } /* Moves to right */
  50.1% { transform: scaleX(-1); }          /* Flips direction */
  100% { left: -10%; transform: scaleX(-1); } /* Moves back to left */
}

.animate-running {
  position: absolute;
  bottom: 5%;
  left: -10%;
  width: 250px;
  height: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  animation: runLoop 4s linear infinite;
}



